@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #0058ff;
  --color-secondary: teal;
}

body{
    font-family: "Inter", sans-serif;
}

.collapse-title::after{
  color: #aab6b5;
  inset-inline-end: 0.5rem;
  height: 0.8rem;
  width: 0.8rem;
}